{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="paralax row">
    <h1 class='col-12 mt-5'>Accueil </h1>
    <h3 class='col-12'> Concours Cosplay</h3>
</div>

{% endblock %}