{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>
<div class="container-fluid">
        {% for categorie in categories %}
            <div class="row">
                {{ categorie.libelleCategorie }}
            </div>
            <div class="row">
                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}">show</a>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>
                </td>
            </div>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
</div>
    <a href="{{ path('categorie_new') }}">Create new</a>
{% endblock %}
