{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>
<div class="col-6 m-auto">
    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}">Retour</a>
</div>
{% endblock %}
