 {% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class='row'>
    <div class="col-sm-12 col-md-6 useraccount m-auto p-3">
        {{ form(userForm) }}
    </div>
</div>
{% endblock %}