     
{{ include('layouts/partials/_header.html.twig') }}

          {% block body %}{% endblock %}
          
{{ include('layouts/partials/_footer.html.twig') }}

        {% block javascripts %}{% endblock %}
    </body>
</html>
