{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="paralax-rgpd mb-5"><h1 class='col-12 my-auto'>RGPD</h1></div>

    <div class="row">
        <p class="col-8 m-auto">En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site <a>http://www.carologameshow.</a> l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
​

    <h3 class="col-8 mx-auto my-3">Présentation</h3>

        <p class="col-8 m-auto">Propriétaire : CRITICAL HIT – Association loi 1901</p>
        <p class="col-8 m-auto">Siège social : 4 place de la Préfecture - 08000 Charleville-Mézières</p>
        <p class="col-8 m-auto">Numéro de Siren : 814611638
        Responsable de la rédaction : Kévin CROUCHET - carologameshow@gmail.com</p>

    <h3 class="col-8 mx-auto my-3">Hébergeur</h3>

        <p class="col-8 m-auto">Dénomination : Wix.com Inc</p>
        <p class="col-8 m-auto">Siège social : BP 40190, San Francisco, CA 94140, Etats-Unis</p>
        <p class="col-8 m-auto">Téléphone : +1 415-639-9034</p>
​

    <h3 class="col-8 mx-auto my-3">Données personnelles</h3>
​
            <p class="col-8 m-auto">Les informations recueillies à partir du formulaire de contact font l’objet d’un traitement informatique destiné à l'association Critical Hit. Les données récoltées ne sont pas conservées et ne font l'objet que d'un éclaircissement de la personne avec qui nous échangeons dans le cadre du Carolo Game Show. Les destinataires des données sont les dirigeants de l'association Critical Hit. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous disposez d’un droit d’accès et de rectification aux informations qui vous concernent. Vous pouvez accèder aux informations vous concernant en vous adressant à : asso_critical_hit@yahoo.fr.</p>
   
            <p class="col-8 m-auto">Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.</p>

            <p class="col-8 m-auto">Pour en savoir plus, consultez vos droits sur le site de la CNIL.</p>
    </div>
    {% endblock %}