

/*Insérer une font*/
@font-face {
    font-family: "Nomtypographie";
        src: url(font/nomtypographie)format('truetype');
    
    font-weight: normal;
    font-style: normal;
    }

*
{
    margin: 0;
    padding: 0;
}

.row
{
    margin : 0!important;
}

.container-fluid
{
    margin :0!important;
    padding: 0!important;
    width: 100vw;
}

.margebody
{
    height: 10vh;
    width: 100vw;
}

header
{
    position: fixed;
    background-color: #313131;
    min-height: 2.8vh;
    width: 100vw;
    top: 0px;
    z-index: 99;
}

.menu
{
    background-color: #111111;
}

.logo-cgs-nav
{
    max-height: 5vh;
}


li
{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

li:hover
{
    color: #fff;
    background-color: #FFA514 ;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color : yellow;
    text-decoration: none;
}


@media screen and (min-width: 769px) {

    section
    {
        margin-top : 15vh;
    }

    .form
    {
        margin-left: auto;
        margin-right: auto;
        padding: 3vh;
        width: 50vw;
        padding-top: 10vh ;
        padding-bottom: 10vh;
        background-color: #313131;
    }

    body
    {
        background-image: url(../img/paralax.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .paralax h1
    {
        position: relative;
        font-size: 15vh;
        text-shadow: 2px 2px 5px #111111;
        vertical-align: center;
    }

    h1
    {
        top: 20vh;
    }
}


/*petits appareil*/
@media screen and (min-width: 0px) and (max-width: 768px) {

    section
    {
        margin-top : 5vh;
    }

    form
    {
        margin-left: none;
        margin-right: none;
        padding: 3vh;
        width: 100%;
        padding-top: 10vh ;
        padding-bottom: 10vh;
        background-color: #313131;
    }

    .paralax
    {
        background-image: url(../images/cgs.jpg);
        margin-top: 10vh;
        color: white;
        text-align: center;
        height: 30vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    header
    {
        position: fixed;
        background-color: #313131;
        min-height: 10vh;
        width: 100vw;
        top: 0px;
        padding-top: 1.5vh;
        z-index: 99;
    }

    h1
    {
        top: 12vh;
    }
}


h5
{
    text-align: center;
    color: white;
}

label
{
    color: white;
}



/* partie administrateur*/

.user
{
    min-height: 10vh;
    min-width: 10vh;
    margin :0;
    background-color: antiquewhite;
}

.body-admin
{
    padding-top: 11.5vh;
    min-height: 100vh;
    max-width: 100vw;
}

.uneditable
{
    columns: #111111!important;
}

.inscri
{
    color :#fff;
}

.alert-modif
{
    display: block;
    position: absolute;
    margin-left: 50vw;
    bottom: 0px;
}

.automin
{
    color : #fff;
}

.container
{
    margin :0;
    width: 100vw;
}

.banniere
{
    width: 100vw;
}

.affUser
{
    background-color: white;
}

.form-categorie
{
    background-color: #FFA514;
}

.categorie
{
    border-color: #111111;
    border-style: solid;
    border-radius: 0.5%;
}

footer
{
    display: block;
    position: fixed;
    bottom: 0px;
    background-color: #111111;
    min-height: 5vh;
    width: 100vw;
    text-align: center;
    margin-left : 0;
    margin-right : 0;
    margin-top: 10vw;
}

/*partie user*/

.useraccount
{
    background-color: #FFA514;
}